* {
    font-family: 'Lora', serif;
}

:root {
    --color-primary-1: #2C2F33;
    --color-primary-2: #C8A25A;
    --color-second-1: #EAEAEA;
    --color-second-2: #F5F1E8;
    --color-white: #FFFFFF;
    --color-gray-clear: #9A9A9A;
}

.container {
    /* background-color: rgb(200, 197, 197); */
    width: 100%;
    margin: 0 auto 0 auto;
}

.bg-gray-clear {
    background-color: var(--color-second-1);
}

.align-items {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-30 {
    font-size: 30px;
}

.jc-space-between {
    display: flex;
    justify-content: space-between;
}

.row {
    /* background-color: red; */
    display: flex;
}

.col-md-2 {
    width: 20%;
}

.col-md-25 {
    width: 25%;
}

.col-md-3 {
    width: 30%;
}

.col-md-4 {
    width: 40%;
}

.col-md-5 {
    width: 50%;
}

.col-md-7 {
    width: 70%;
}

.img-modules {
    height: 500px;
}

.img-button:hover .img-modules-text {
    display: block;
}

.img-text-w-400 {
    width: 400px;
}

.img-text-w-550 {
    width: 550px;
}

.img-modules-text {
    position: absolute;
    margin-top: -42px;
    margin-left: 28px;
    background-color: var(--color-second-2);
    display: none;
    color: var(--color-primary-1);
    font-weight: bold;
}

.img-background {
    height: 380px;
}

.img-details {
    max-width: 80%;
    height: auto;
    max-height: 600px;
    display: block;
    object-fit: contain;
}

.img-height-700 {
    max-width: 100%;
    height: auto;
    max-height: 800;
    display: block;
    object-fit: contain;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-brand-footer {
    background-color: var(--color-primary-1);
    color: var(--color-white);
}

.bg-footer {
    background-color: var(--color-second-1);
}

.bg-footer-Two {
    background-color: var(--color-primary-1);
}

.margin-0 {
    margin: 0px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-40 {
    margin: 40px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-20 {
    padding: 20px;
}

.link-style-1 {
    text-decoration: none;
    color: var(--color-primary-1);
}

.link-style-1:hover {
    text-decoration: underline;
}

.active-on {
    display: block;
}

.active-off {
    display: none;
}

.content-control {
    display: flex;
}

.content-w-20 {
    /* background-color: yellow; */
    width: 20%;
}

.content-w-30 {
    width: 30%;
}

.content-w-40 {
    width: 40%;
}

.content-w-50 {
    width: 50%;
}

.content-w-50.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-w-60 {
    width: 60%;
}

.content-w-70 {
    width: 70%;
}

.content-w-80 {
    width: 80%;
}

.btn-talla button {
    width: 50px;
    height: 50px;
    background-color: var(--color-second-1);
    border: none;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.btn-talla button:hover {
    background-color: var(--color-primary-2);
}

.btn-talla .talla-selected {
    background-color: var(--color-primary-2);
}

.link-style-1.active {
    font-weight: bold;
    color: #000; 
    text-decoration: underline;
}

.btn-talla button.active {
    background-color: #333;
    color: white;
}

/* //////////////// ESTILOS PARA MOSTRAR LOS PRODUCTOS ////////////////// */
.productos-catalogo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titulo-categoria {
  margin-top: 16px;
  font-size: 30px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding-bottom: 16px;
  padding-top: 10px;
  text-align: left;
}

.fila-productos {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.producto-card {
  width: 360px;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  border-color: gray;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto-card:hover {
  border-color: goldenrod;
  border-width: 3px;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

.producto-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.btn-comprar {
  background-color: var(--color-primary-1);
  color: white;
  padding: 6px 16px;
  margin-top: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-comprar:hover {
  background-color: goldenrod;
  transform: scale(1.05);
}

.form-control {
    height: 35px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--color-primary-1);
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

/*Estilos para las secciones del footer*/
/*FUNCIONAMIENTO DE LA CARDS PREGUNTAS FRECUENTES*/
.faq-item { 
    border:1px solid #e9e9e9; 
    border-radius:10px; 
    margin:12px 0; 
    overflow:hidden; 
    background:#fff;
    font-family: 'Lora', serif; 
}

.faq-item > summary 
{
    list-style:none; 
    cursor:pointer; 
    padding:14px 16px; 
    font-weight:600;
    display:flex; 
    align-items:center; 
    justify-content:space-between;
    font-family: 'Lora', serif; 
}

.faq-item > summary::-webkit-details-marker 
{ 
    display:none; 
}

.faq-item > summary::after 
{ 
    content:"↓"; font-weight:700; 
}

.faq-item[open] > summary::after 
{ 
    content:"－"; 
}

.faq-item > p 
{ 
    padding:0 16px 16px; margin:0; color:#333; line-height:1.6; 
}

.font-family 
{ 
    font-family: 'Lora', serif; 
}

.font-size-32 
{ 
    font-size: 32px; 
}

.margin-20px 
{ 
    margin: 20px 0; 
}

.contenido { 
    color:#555; 
}

.font-size-40 {
    font-size: 40px;
}

.valores {
    display: flex; 
    flex-wrap: wrap; 
    text-align: center; 
    gap: 30px; 
    padding: 20px;
}

.iconos {
    flex: 1 1 200px; 
    text-align: center;
}

.card {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px; 
    border: 1px solid #eee; 
    padding: 30px; 
    background: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.fa {
    padding: 10px;
}

.fab {
    padding: 10px;
}

.card:hover {

    border-color: goldenrod;
    border-width: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

a {
    color: white;
    text-decoration: none;
}

.btn-vinculo {
    width: 200px;
    height: 75px;
    background-color: var(--color-primary-1);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn-vinculo:hover {
    background-color: var(--color-primary-2);
}

.x {
    background-color: var(--color-primary-2);
}

.link-style-1 {
    text-decoration: none;               
    color: var(--color-secundary-1);         
    transition: color .2s ease;
}

.link-style-1:hover,
.link-style-1:focus {
    text-decoration: none;              
    color: rgb(120, 120, 120);            
}

footer .bg-footer p.margin-down {
    margin: 20px 0 !important;            
}

footer .bg-brand-footer a {
    color: var(--color-white);
    text-decoration: none;
}

footer .bg-brand-footer a:hover {
color: var(--color-second-2);
    text-decoration: none;
}

.out-stock {
    background-color: red;
    color: var(--color-white);
    padding: 5px;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}